on:
    pull_request:
        paths:
            - 'repo/**'
    push:
        paths:
            - 'repo/**'
    workflow_dispatch:

concurrency:
    group: deploy-${{ github.ref }}
    cancel-in-progress: true

jobs:
    publish:
        permissions:
            contents: read
            deployments: write
        runs-on: ubuntu-latest
        name: Deploy to Cloudflare Pages
        steps:
            -   uses: actions/checkout@v5
            -   name: Setup JDK 21
                uses: actions/setup-java@v5
                with:
                  distribution: temurin
                  java-version: '21'
            -   name: Setup gradle
                uses: gradle/actions/setup-gradle@v5
                with:
                  add-job-summary-as-pr-comment: 'on-failure'
            -   name: Grant execute permission for gradlew
                run: chmod +x gradlew
            -   name: Build repo
                run: ./gradlew :repo:buildRepo
            -   name: Deploy
                uses: cloudflare/wrangler-action@v3
                with:
                    apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
                    accountId: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
                    gitHubToken: ${{ secrets.GITHUB_TOKEN }}
                    command: pages deploy build/repo --project-name="catharsis-repo" --commit-hash=${{ github.sha }} --branch=${{ github.ref_name }}
